/*-------------SIDE NAV MENU-----------------*/
.navmenu {
  position: fixed;
  list-style: none;
  background: #222;
  width:250px;
  height: 100%;
  z-index: -5;
  left: -250px;
  padding: 0;
  transition: left .25s;
}

.navmenu .logo {
  width: 250px;
  height: 150px;
  background: rgba(20, 20, 20, 0.1);
  text-align: center;
  display: table;
}

.navmenu .logo .logo-kontainer {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  line-height: 45px;
  font-family: 'Script MT';
}

.navmenu .logo-kontainer-2{
  background: #b93e3e;
  height: 45px;
  line-height: 45px;
}

.navmenu .menu-d-logo {
  width: 35px;
  height: 35px;
  margin-bottom: -8px;
  border: 2px solid #eee;
  border-radius: 100%;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0.5;
}
.navmenu .logo a{
  font-size: 1.5em;
  color: #999;
  text-decoration: none;
}

.logo .searchq {
  color: #eee;
  border: 0px;
  background: rgba(11, 11, 11, 0.3);
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.logo .searchq:focus {
  outline-color: rgba(181, 181, 181, 0.53);
  outline-width: 1px;
}
.navmenu ul {
  list-style: none;
  padding: 0;
}

.navmenu ul li {
height: 50px;
line-height: 50px;
padding-left: 20px;
}

.navmenu ul li.menuactive {
  background: rgba(150, 150, 150, 0.15);
}
.navmenu ul a {
  color: #999;
  font-weight: 700;
  text-decoration: none;
}

.navmenu ul li:hover {
  background: rgba(150, 150, 150, 0.15);
  cursor: pointer;
}

.navmenu a li .fa {
  width: 25px;
  color: #aaa;
}

.site-wrapper {
  min-width: 100%;
  min-height: 100%;
  background: #f9f9f9;
  color: #555;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.nav-trigger {
  position: absolute;
  clip: rect(0,0,0,0);
  text-align: center;
}

label[for="nav-trigger"]{
  position: fixed;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgba(14, 14, 14, 0.1);
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  z-index: 1000;
}
label[for="nav-trigger"] .fa:before {
  content: "\f0c9";
  font-size: 20px;
  line-height: 40px;
}

.nav-trigger:checked+label {
  left: 265px;
}

.nav-trigger:checked~.site-wrapper{
  left: 250px;
}
.nav-trigger:checked~.navmenu {
  left: 0;
}
.nav-trigger:checked~label[for="nav-trigger"] .fa:before{
  content: "\f00d";
}

.nav-trigger+label, .site-wrapper {
  transition: left .25s;
}
